<form [formGroup]="form">
    <select formControlName="statusControl">
        <option [ngValue]="null">Status</option>
    </select>
    <select formControlName="unidadeOrcamentariaControl">
        <option [ngValue]="null">Unidade Orçamentária</option>
        <option *ngFor="let unidade of unidades" [ngValue]="unidade.id">{{unidade.sigla}}</option>
    </select>
    <select formControlName="exercicio">
        <option *ngFor="let ano of anos" [ngValue]="ano">{{ano}}</option>
    </select>
</form>