<div id="content">
    <div id="titleMain">
        <p id="title">{{title}}</p>
        <p id="breadcrumb"><spo-breadcrumb></spo-breadcrumb></p>
    </div>
    <div id="userInfo" (click)="toggleMenuUser()">
        <div id="userImg">
            {{iniciais}}
        </div>
        <div id="userData">
            <p>{{user.name}}</p>
        </div>
        <div #menuUser [ngClass]="'menuUser ' + (showMenuUser ? 'mostrar' : '')">
            <div (click)="logout()">Sair</div>
        </div>
    </div>
    
</div>