
<div class="loginBox">
    <main>
        <div id="mainLogo">
            <div id="imgLogo">
                <img class="icone-info-plan" src="assets/img/pipIcon.svg">
            </div>
            <div id="logoInfo">
                <h1>SPO</h1>
                <h2>Sistema de Planejamento Orçamentario</h2>
            </div>
        </div>
        <button type="button" (click)="login()">
            <div>Entrar com Acesso Cidadão</div>
            <fa-icon [icon]="faRightToBracket"></fa-icon>
        </button>
    </main>
    <footer>
        <div>Secretaria de Economia e Planejamento</div>
        <div>Governo do Estado do Espírito Santo</div>
    </footer>
</div>