:host {
    display: flex;
    flex-direction: row;

    div {
        &#icone {
            padding: 10px;
            margin-right: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            box-shadow: 0 0 3px;
        }

        &#infos {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
    
            div {
                flex-grow: 1;

                &#value {
                    text-align: end;
                }
            }
    
        }
    }
    
}