<spo-investimento-filtro [parent]="this"></spo-investimento-filtro>
<div id="valores">
    <spo-previsto-card [valor]="totalPrevisto"></spo-previsto-card>
    <spo-homologado-card [valor]="totalHomologado"></spo-homologado-card>
    <spo-autorizado-card [valor]="totalAutorizado"></spo-autorizado-card>
    <spo-disponivel-card [valor]="totalDisponivel" ></spo-disponivel-card>
</div>
<div id="cabecalho">
    <div id="title">
        <p>Investimentos ({{qtInvestimento}})</p>
        <div id="pesquisa">
            <img src="assets/img/search.svg" width="20px" />
            <input type="text" [formControl]="txtBusca" placeholder="Procurar" />
        </div>
    </div>
    <div id="acoes">
        <div id="objetos" class="botaoAcao"
            routerLink="/home/inventario/objetos/avaliacao">
            <img src="assets/img/hammer.svg" width="20px">
            <div *ngIf="qtObjetos > 0">{{qtObjetos}}</div>
        </div>
        <div (click)="selectedDisplay = CLASS_DISPLAYGRADE" id="display-grade" class="botaoAcao {{selectedDisplay === CLASS_DISPLAYGRADE ? 'ativo' : ''}}">
            <img src="assets/img/grid-layout{{selectedDisplay === CLASS_DISPLAYGRADE ? '-branco' : ''}}.svg" width="20px">
        </div>
        <div (click)="selectedDisplay = CLASS_DISPLAYLISTA" id="display-lista" class="botaoAcao {{selectedDisplay === CLASS_DISPLAYLISTA ? 'ativo' : ''}}">
            <img src="assets/img/align-left{{selectedDisplay === CLASS_DISPLAYLISTA ? '-branco' : ''}}.svg" width="20px">
        </div>
    </div>
</div>
<div id="listaDados" [class]="selectedDisplay">
    <spo-tira-investimento *ngFor="let inv of data[paginaAtual-1]" [investimento]="inv"></spo-tira-investimento>
</div>
<div id="paginacao">
    <div id="btnAcao" class="btnPagina {{paginaAtual === 1 ? 'btnPgInativo' : ''}}"
        (click)="voltaUmaPagina()">
        <p><</p>
    </div>
    <div class="btnPagina {{i + 1 === paginaAtual ? 'pgAtual' : ''}}" *ngFor="let x of data; index as i" (click)="paginaAtual = i + 1">
        <p>{{i+1}}</p>
    </div>
    <div id="btnAcao" class="btnPagina {{paginaAtual === data.length ? 'btnPgInativo' : ''}}"
        (click)="avancarUmaPagina()">
        <p>></p>
    </div>
</div>