/* You can add global styles to this file, and also import other style files */
:root {
    --cor-primaria: rgb(79, 129, 189);
    --cor-secundaria: rgb(249, 247, 247);
}

* {
    margin: 0;
    padding: 0;
}

body, app-root {
    display: block;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--cor-secundaria);
}

