@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:host {
    
    font-family: 'Open Sans', sans-serif;
    font-size: small;

    div#investimento {
        background-color: white;
        border-left-style: solid;
        border-left-color: var(--cor-primaria);
        border-left-width: 0.3rem;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;

        > div {
            padding: 0.5rem;
            width: 9rem;
            display: flex;
            flex-direction: column;

            div#label {
                color: var(--cor-primaria);
            }
        }

        > div#toggle {
            width: 0.5rem;
        }

        > div#invNome {
            flex-grow: 1;
        }
    }

    > div#objetoList {
        display: flex;
        border: 1px solid black;
        margin-left: 5rem;
        min-height: 3rem;
    }

}