:host {
    display: flex;
    justify-content: end;
}

:host select {
    //appearance: none;
    background-color: unset;
    border: unset;
    color: rgb(127, 127, 127);

    option:hover {
        background-color: var(--cor-primaria);
    }
}

:host select:focus {
    outline: unset;
}
